@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Poppins';
}

.container{
    width: 100vw;
    height: 100vh;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    margin-top: 20px;
    z-index: 0;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.notice{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.ad-area{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.rdp{
    font-weight: 700;
    text-decoration: none;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
    margin-top: 20px;
}

.rdp:hover{
    background: blue;
    color: white;
}

.specs{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

ul li{
    font-weight: 600;
}